.whitecell {
    -fx-background-color: white;
}

.whitecell:hover {
    -fx-background-color: lightgrey;
}

.redcell {
    -fx-background-color: red;
}

.redcell:hover {
    -fx-background-color: darkred;
}

.bluecell {
    -fx-background-color: blue;
}

.bluecell:hover {
    -fx-background-color: darkblue;
}

StackPane {
    -fx-border-color: lightgrey;
}

GridPane {
    -fx-background-color: whitesmoke;
}